.btn {
  background-color: var(--bg-yellow);
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--text-white);

  &:hover {
    cursor: pointer;
    background-color: var(--bg-yellow-dark);
  }
}
