@import "../../abstracts/variables.css";

.title-section {
  color: var(--text-white);
  /* font-size: var(--fs-lg); */
  font-size: clamp(var(--fs-md-1), 6vw, var(--fs-lg));
  /* font-size: var(--fs-lg); */
  font-weight: var(--fw-bold);
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 0.8em;
}

.subtitle-section {
  color: var(--text-brown);
  font-size: clamp(var(--fs-md), 4vw, var(--fs-md-1));
  font-weight: var(--fw-bold);
  text-align: center;
}

.hero-subtitle {
  color: var(--text-white);
  font-size: clamp(var(--fs-xl), 6vw, var(--fs-2xl));
  font-weight: var(--fw-bold);
  line-height: 1.3;
  margin-bottom: 0.4em;
  & span {
    color: var(--text-brown);
  }
}
