.project-section > * {
  & .project-img {
    width: 100%;
    height: 200px;
  }

  /* project details */
  & .project-details {
    width: 100%;

    @media (--mobile-lg) {
      margin-bottom: 0.5em;
    }

    /* project  subtitle */
    & .subtitle-section {
      margin-top: 0.8em;
    }

    /* project details technology list */
    & .project-details__tech-list {
      margin-block: 1em;
      /* project details technology list item */
      & .project-details__tech-list__item {
        color: var(--text-light-gray);
        font-size: var(--fs-base);
        font-weight: var(--fw-regular);
        opacity: 0.8;
        /* margin-left: 2em; */
        /* background-color: blue; */

        @media (--mobile-lg) {
          margin-right: 1em;
        }
      }
    }
  }

  /* project view all button */
  & .project-btn-view {
    margin-top: 1em;
    background-color: var(--bg-yellow);
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    color: var(--text-white);
    text-decoration: none;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: var(--bg-yellow-dark);
    }
  }
}
