.header {
  /* main */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10rem;

  /* header button menu */
  & .btn-menu {
    @media (--tablet) {
      display: none;
    }
  }

  /* header navigation  */
  & .header-navigation {
    /* header navigation list */
    & .header-navigation__list {
      position: absolute;
      top: 75px;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      z-index: 1;
      @media (--tablet) {
        flex-direction: row;
        align-items: center;
        position: static;
        gap: 1.5em;
        transform: none;
      }
      @media (--tablet-md) {
        gap: 2em;
      }
      @media (--laptop) {
        gap: 3em;
      }

      & .header-navigation__item-download {
        @media (--tablet) {
          display: none;
        }
      }
    }
  }

  /* header navigation button download */
  & .btn-download {
    display: none;
    @media (--tablet) {
      position: absolute;
      top: 60px;
      right: 3em;
      display: flex;
      gap: 0.5em;
    }
    @media (--tablet-lg) {
      position: static;
    }
  }
}
